.feedback-container {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
}

.feedback-container h1, .feedback-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Georgia', serif;
    color: #343a40;
}

.feedback-container .form-label {
    font-weight: bold;
    color: #495057;
}

.feedback-container .form-control {
    border-radius: 5px;
}

.feedback-container .btn-secondary {
    background-color: #fe7223;
    border-color: #9e3c04;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
}


.feedback-container .btn-secondary:hover {
    background-color: #e89f76fd;
    border-color: #9d5c36;
}

.reviews {
    margin-top: 20px;
}

.review {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.review h5 {
    margin-bottom: 10px;
    font-family: 'Georgia', serif;
    color: #343a40;
}

.review p {
    color: #ffcc00;
}

.review p:last-child {
    font-size: 1.2em;
    color: #495057;
}

.star-rating {
    font-size: 1.5em;
    color: #fe7223;
    cursor: pointer;
}

.star-rating span {
    margin-right: 5px;
}