.home {
  width: 70%;
  height: auto;
  margin: 0px auto;
}

  
  .icon {
    position: relative;    
    cursor: pointer;
    filter: invert(60%);
    padding-left: 10px;
    padding-bottom: 5px;
    float: right;
    width: 3%;
    height: 3%;
  }

.home img {
  width: 100%; 
  height: 100%; 
  object-fit: cover;
  object-position: center;
  position: absolute;
}

.home .img-container {
  width: 100%;
  height: 60vh;
}

.home .carousel-class {
  width: 100%;
  margin: 0px auto;
}

/* ABOUT PART */
.home .about-part {
  width: 100%;
  height: auto;
  display: flex;
}

.home .about-tab {
  width: 50%;
  height: auto;
  border: 1px solid black; /* REMOVE THIS AFTER */
}

/* LEFT */
  .home .left-about-tab {
    padding: 2em;
  }

  .home iframe {
    width: 100%;
    height: 400px;
  }

/* RIGHT */
  .home .right-tabs {
    padding: 2em;
    width: 100%;
    height: 33.33333%;
    opacity: 0.7;
    transition: opacity 0.3s ease;
  }

  .home .view-menu {
    background-color: #777;
  }
  .home .view-reservation {
    background-color: #777;
  }
  .home .view-feedback {
    background-color: #777;
  }

  .home .view-menu:hover {
    color: white;
    opacity: 1;
  }
  .home .view-reservation:hover {
    color: white;
    opacity: 1;
  }
  .home .view-feedback:hover {
    color: white;
    opacity: 1;
  }

/* CONTACT FOOTER */
  .contact-part {
    width: 100%;
    height: 250px;
    border: 1px solid black;
    background-color: #777;
  }