.order-form-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    backdrop-filter: blur(5px);
}

.order-form-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 500px;
}

.order-form-container .btn-primary {
    background-color: #e89f76fd;
    border-color: #9d5c36;;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 25px;
    margin: 5px 60px;
}

.order-form-container .btn-secondary {
    background-color: #e89f76fd;
    border-color: #9d5c36;;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}