.signup-form {
  max-width: 540px;
  margin: 100px auto;
  padding: 40px;
  border: 1px solid #777;
  border-radius: 1em;
  }  
  .signup-form h3 {
    text-align: center;
  }
  .signup-form label {
    display: block;
    margin: 30px auto;
  }
  .signup-form span {
    display: block;
    margin-bottom: 6px;
  }
  .signup-form input {
    padding: 8px 6px;
    font-size: 1em;
    color: #777;
    width: 100%;
  }  
  .signup-form button {
    border: 1px solid #777;
    padding: 0.5em 1.5em;
    width: 100%;
    margin: 0.3em auto;
  }
  .signup-form button:hover {
    background-color: #777;
    color: white;
  }