.App {
  margin: 0 auto;
  padding-top: 7vh;
  height: 100%;
}

@font-face {
  font-family: 'Palanquin';
  src: url('./fonts/PalanquinDark-Regular.ttf') format('truetype'); 
  font-weight: 400; 
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Regular.ttf') format('truetype'); 
  font-weight: 600; 
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Palanquin' !important;
}

p, li, button, span, input {
  font-family: 'Poppins' !important;
}