body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Palanquin';
  src: url('./fonts/PalanquinDark-Regular.ttf') format('truetype'); 
  font-weight: 400; 
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Regular.ttf') format('truetype'); 
  font-weight: 600; 
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Palanquin' !important;
}

p {
  font-family: 'Poppins' !important;
}