.navbar {
    height: 7vh !important;
    padding: 0px !important;
    opacity: 0.95;
}

.navbar .navbar-brand {
    margin-right: 2em !important;
}

.navbar .hover-active-design {
    text-decoration: none !important;
    color: #777 !important;
    transition: background-color 0.3s ease;
}

.navbar .hover-active-design:hover {
    background-color: #777;
    color: white !important;
}

.navbar .hover-active-design.active {
    background-color: #777;
    color: white !important;
}

.navbar .container {
    height: 100%;
    display: flex !important;
    justify-content: center !important;
    margin: 0px auto !important;
}

.navbar .navbar-collapse {
    height: 100% !important;
}

.navbar .navbar-nav {
    height: 100% !important;
}

.navbar .nav-button {
    width: 100px;
    height: 100%;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .navbar .disabled {
    pointer-events: none !important;
    cursor: not-allowed !important;
    opacity: 0.4;
} */

.navbar .login-signup-buttons {
    margin-left: auto;
}

.navbar .nav-logo {
    width: 85px;
    height: auto;
}