.navbar {
    height: 7vh !important;
    padding: 0px !important;
    opacity: 0.9;
    background-color: #0b0b0b !important;
    font-family: 'Palanquin' !important;
}

.navbarparent .dark-background {
    background-color: #0b0b0b !important;
}

.navbar .navbar-brand {
    margin-right: 2em !important;
}

.navbar .hover-active-design {
    text-decoration: none !important;
    color: #777 !important;
    transition: background-color 0.3s ease;
}

.navbar .hover-active-design:hover {
    background-color: #fe7223;
    color: #fffcf7 !important;
}

.navbar .hover-active-design.active {
    background-color: #fe7223;
    color: #fffcf7 !important;
}

.navbar .container {
    height: 100%;
    display: flex !important;
    justify-content: center !important;
    margin: 0px auto !important;
}

.navbar .navbar-collapse {
    height: 100% !important;
}

.navbar .navbar-nav {
    height: 100% !important;
}

.navbar .nav-button {
    width: 120px;
    height: 100%;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .navbar .disabled {
    pointer-events: none !important;
    cursor: not-allowed !important;
    opacity: 0.4;
} */

.navbar .login-signup-buttons {
    margin-left: auto;
}

.navbar .nav-logo {
    width: 85px;
    height: auto;
}

.navbar .hello-user {
    color: #fe7223;
}

@font-face {
    font-family: 'Palanquin';
    src: url('../fonts/PalanquinDark-Regular.ttf') format('truetype'); 
    font-weight: 400; 
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.ttf') format('truetype'); 
    font-weight: 600; 
    font-style: normal;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Palanquin' !important;
  }
  
  p {
    font-family: 'Poppins' !important;
  }